.appPage__mainWrapper {
    display: flex;
    flex-direction: column;
    row-gap: var(--vertical-spacing);

    padding: 16px var(--side-padding);

    --vertical-spacing: 4.2vh;
}

.appPage__mainContent {
    display: flex;
    column-gap: 40px;

    --screenshots_height: calc(7.604vw + 276px)
}

.appPage__mainScreenshot {
    flex-grow: 3;
    display: flex;
    align-items: center;
    align-self: center;

    height: 100%;
}

.appPage__mainScreenshot > img{
    width: auto;
    height: 56.25vh;
    min-height: calc(var(--screenshots_height)*1.3);

    margin: auto;
}

.appPage__RightColumn {
    overflow: auto;

    flex-grow: 7;
    display: flex;
    flex-direction: column;
    row-gap: var(--vertical-spacing);
}

.appPage__RightColumn > p{
    margin-block: 0;
    font-size: var(--fs-medium);
    white-space: pre-wrap;
}

.appPage__topSection {
    display: grid;
    align-items: center;
    column-gap: 15px;
    row-gap: var(--vertical-spacing);

    height: max-content;
}