.appPage__mainWrapper {
    display: flex;
    flex-direction: column;
    row-gap: var(--vertical-spacing);

    padding: 16px var(--side-padding);

    --vertical-spacing: 4.2vh;
}

.appPage__mainContent {
    display: grid;
    column-gap: 40px;
    row-gap: var(--vertical-spacing);

    grid-template-columns: 2.5fr 7.5fr;
    grid-template-rows: auto auto;

    --screenshots_height: calc(7.604vw + 276px)
}

.appPage__mainScreenshot {
    display: flex;
    align-items: center;
    align-self: center;
    height: 100%;
    grid-column: 1;

    grid-row: 1 / span 2;
}

.appPage__mainScreenshot > img {
    width: auto;
    height: 56.25vh;
    min-height: calc(var(--screenshots_height) * 1.3);

    margin: auto;
}

.appPage__MiddleSection {
    overflow: auto;

    display: flex;
    flex-direction: column;
    grid-column: 2;
    grid-row: 2;
    row-gap: var(--vertical-spacing);
}

.appPage__MiddleSection > p {
    font-size: var(--fs-medium);
    white-space: pre-wrap;
    margin-block: 0;
}

.appPage__topSection {
    display: grid;
    align-items: center;
    column-gap: 15px;
    row-gap: var(--vertical-spacing);

    height: max-content;
}

@media only screen and (max-width: 1200px) {
    .appPage__mainContent {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }

    .appPage__MiddleSection {
        grid-column: 1;
    }
}