.appPage__mainWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 40px;

    padding: 16px var(--side-padding);
}

.appPage__topSection {
    display: grid;
    align-items: center;
    column-gap: 15px;
    row-gap: 40px;
}