nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 64px;
    row-gap: 16px;

    min-height: 80px;
    width: 100%;

    padding: 0 var(--side-padding);

    background: white;

    filter: var(--main-shadow);
}

.navbar__branding {
    margin-right: auto;
}

.navbar__branding > img {
    max-height: 32px;
}

@media only screen and (max-width: 800px) {
    nav {
        flex-direction: column;

        padding: 16px var(--side-padding);
    }

    .navbar__branding {
        margin-right: 0;
    }
}