nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 80px;

    padding: 0 var(--side-padding);
    background: var(--color-background);

    box-shadow: var(--main-shadow);

    column-gap: 64px;

    row-gap: 16px;
}

.navbar__branding {
    margin-right: auto;
}

.navbar__branding > img {
    max-height: 32px;
}

@media only screen and (max-width: 800px) {
    nav {
        flex-direction: column;

        padding: 16px var(--side-padding);
    }

    .navbar__branding {
        margin-right: 0;
    }
}