.navbarLink {
    --indicatorHeight: 4px;
}

li {
    padding: calc(7px + var(--indicatorHeight)) 0 7px 0;
    font-size: var(--fs-large);
    font-weight: 600;

    list-style: none;
}

a {
    color: var(--color-disabled);
}

a.active {
    color: black;
}

.navbarLink__activeIndicator {
    height: var(--indicatorHeight);

    border-radius: 16px;

    background-image: var(--color-primary-gradient);
}